<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="{{ site.github.url }}/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/common.css">
                
    </head>
    <body>
    <header>
    	{% include nav.html navclass='nav-top' %}
    </header>

    <div class="container">
        {{ content }}
    </div>

    <footer class="footer">
		<div class="container">
			<p class="text-center">Copyright &copy; 2017 百灵创新 BLINNO.COM.CN All Rights Reserved</p>
		</div>
	</footer>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

    </body>
</html>
